# Node modules
node_modules/

# Entorno
.env

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Build
dist/
build/

# Otros posibles temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
